<button class="button" (click)="goBack()" i18n>
    <fa-icon [icon]="icons.arrowLeft" class="mr-2" />
    Back to search
</button>

@if (sampleResult$ | async; as sample;) {
<section class="hero">
    <div class="hero-body">
        <p class="subtitle" i18n>Sample sentence</p>
        <p class="title">{{ sample.sentence }}</p>
    </div>
</section>

<section class="message is-dark">
    <div class="message-header">
        <p>Term analysis</p>
    </div>
    <div class="message-body" [innerHTML]="sample.term | proof"></div>
</section>

<table class="table is-fullwidth">
    <thead>
        <tr>
            <th i18n>#</th>
            <th i18n>Phrase</th>
            <th i18n>Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let phrase of sample.phrases; index as i">
            <td>
                <span class="proof"><var>c<sub>{{ i }}</sub></var></span>
            </td>
            <td>
                <span *ngFor="let item of phrase.items">{{ item.word }} </span>
            </td>
            <td>
                <span class="proof" [innerHtml]="phrase.type | proof"></span>
            </td>
            <td class="has-text-right">
                @if (showButton(phrase.items)) {
                    <button class="button is-info" (click)="routeToAethel(phrase.items)">
                        Search in Æthel
                    </button>
                }
            </td>
        </tr>
    </tbody>
</table>
}
