@if (sampleResult$ | async; as sample) {
<section class="hero">
    <div class="hero-body">
        <p class="title">{{ sample.sentence }}</p>
        <p class="subtitle">Hero subtitle</p>
    </div>
</section>

<h4 i18n>Term:</h4>
<div class="block is-size-4" [innerHTML]="sample.term | proof"></div>
<table class="table">
    <thead>
        <tr>
            <th i18n>#</th>
            <th i18n>Phrase</th>
            <th i18n>Proof</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let phrase of sample.phrases; index as i">
            <td>
                <span class="proof">
                    <var>c<sub>{{ i }}</sub></var>
                </span>
            </td>
            <td>
                <span *ngFor="let item of phrase.items">{{ item.word }}</span>
            </td>
            <td><span class="proof" [innerHtml]="phrase.type | proof"></span></td>
            <td>
                <button class="button is-info" (click)="routeToAethel(phrase.items)">Search in Æthel</button>
            </td>
        </tr>
    </tbody>
</table>
}
