<div class="content">
<h1>References</h1>

<div>
    <h2>Spindle</h2>
    <p>
        Kogkalidis, K. (2023). <a href="https://www.lotpublications.nl/dependency-as-modality-parsing-as-permutation"><i>Dependency as Modality, Parsing as Permutation</i></a>. Netherlands Graduate School of Linguistics.
    </p>

    <p>
        Kogkalidis, K., Moortgat, M., &#38; Moot, R. (2023). <a href="https://aclanthology.org/2023.eacl-demo.15/">SPINDLE: Spinning Raw Text into Lambda Terms with Graph Attention.</a> In D. Croce &#38; L. Soldaini (Eds.), <i>Proceedings of the 17th Conference of the European Chapter of the Association for Computational Linguistics: System Demonstrations</i> (pp. 128–135). Association for Computational Linguistics.
    </p>

    <p>
        Kogkalidis, K., Moortgat, M., &#38; Moot, R. (2020). <a href="https://aclanthology.org/2020.conll-1.3/">Neural Proof Nets.</a> In R. Fernández &#38; T. Linzen (Eds.), <i>Proceedings of the 24th Conference on Computational Natural Language Learning</i> (pp. 26–40). Association for Computational Linguistics.
    </p>

    <p>
        Kogkalidis, K., Moortgat, M., &#38; Moot, R. (2020). <a href="https://aclanthology.org/2020.lrec-1.647/">ÆTHEL: Automatically Extracted Typelogical Derivations for Dutch.</a> In N. Calzolari, F. Béchet, P. Blache, K. Choukri, C. Cieri, T. Declerck, S. Goggi, H. Isahara, B. Maegaard, J. Mariani, H. Mazo, A. Moreno, J. Odijk, &#38; S. Piperidis (Eds.), <i>Proceedings of the Twelfth Language Resources and Evaluation Conference</i> (pp. 5257–5266). European Language Resources Association.
    </p>

    <p>
        Kogkalidis, K., &#38; Moortgat, M. (2023). <a href="https://aclanthology.org/2023.clasp-1.13/">Geometry-Aware Supertagging with Heterogeneous Dynamic Convolutions.</a> In E. Breitholtz, S. Lappin, S. Loaiciga, N. Ilinykh, &#38; S. Dobnik (Eds.), <i>Proceedings of the 2023 CLASP Conference on Learning with Small Data (LSD)</i> (pp. 107–119). Association for Computational Linguistics.
    </p>
</div>

</div>
