<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <strong class="navbar-item" i18n> ParsePort </strong>
            <a
                role="button"
                class="navbar-burger burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navbarBasicExample"
                (click)="toggleBurger()"
                [ngClass]="{ 'is-active': burgerShow === 'show' }"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div
            id="navbarBasicExample"
            class="navbar-menu"
            [ngClass]="{ 'is-active': burgerActive }"
            [@slideInOut]="burgerShow"
        >
            <div class="navbar-start">
                <a
                    class="navbar-item"
                    [routerLink]="['/home']"
                    routerLinkActive="is-active"
                    i18n
                >
                    Home
                </a>

                <a
                    class="navbar-item"
                    [routerLink]="['/spindle']"
                    routerLinkActive="is-active"
                    i18n
                >
                    Spindle
                </a>

                <a
                    class="navbar-item"
                    [routerLink]="['/aethel']"
                    routerLinkActive="is-active"
                    i18n
                >
                    Æthel
                </a>

                <a
                    class="navbar-item"
                    [routerLink]="['/alpino']"
                    routerLinkActive="is-active"
                    i18n
                >
                    Alpino
                </a>

                <a
                    class="navbar-item"
                    [routerLink]="['/about']"
                    routerLinkActive="is-active"
                    i18n
                >
                    About
                </a>

                <a
                    class="navbar-item"
                    [routerLink]="['/refs']"
                    routerLinkActive="is-active"
                    i18n
                >
                    References
                </a>
            </div>
        </div>
    </div>
</nav>
