<h2 class="title is-2" i18n>Æthel</h2>

<p class="field" i18n>
    Welcome to Æthel. Search for a word or lemma in the input field below to
    start.
</p>

<form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="field">
        <label for="aethel-input" class="label">Search:</label>
        <div class="aethel-input-container">
            <input
                id="aethel-input"
                class="input"
                [class.is-danger]="form.touched && form.invalid"
                type="text"
                formControlName="aethelInput"
                placeholder="Enter a word or lemma..."
                placeholder-i18n
            />
            <button
                type="submit"
                class="button is-primary"
                [class.is-loading]="loading$ | async"
            >
                <span i18n>Search</span>
            </button>
        </div>
        @if (form.touched && form.invalid) {
        <p class="is-size-7 has-text-danger" i18n>
            Please enter at least three characters.
        </p>
        }
    </div>
</form>

@if (submitted | async) {
<div class="table-container">
    <p-table
        [value]="rows"
        dataKey="key"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        currentPageReportTemplate-i18n
    >
        <ng-template pTemplate="header" styleClass="p-datatable-striped">
            <tr>
                <th style="width: 10%"></th>
                <th style="width: 20%" pSortableColumn="word">
                    <span i18n>Word</span>
                    <p-sortIcon field="word"></p-sortIcon>
                </th>
                <th style="width: 20%" pSortableColumn="lemma">
                    <span i18n>Lemma</span>
                    <p-sortIcon field="lemma"></p-sortIcon>
                </th>
                <th style="width: 20%" pSortableColumn="type">
                    <span i18n>Type</span>
                    <p-sortIcon field="type"></p-sortIcon>
                </th>
                <th style="width: 10%" pSortableColumn="samples">
                    <span i18n>Samples</span>
                    <p-sortIcon field="samples"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-expanded="expanded">
            <tr>
                <td>
                    <button
                        class="button is-small expand-button"
                        type="button"
                        pButton
                        pRipple
                        [pRowToggler]="row"
                    >
                        <fa-icon
                            [icon]="
                                expanded === true
                                    ? icons.chevronDown
                                    : icons.chevronRight
                            "
                        ></fa-icon>
                    </button>
                </td>
                <td>{{ row.word }}</td>
                <td>{{ row.lemma }}</td>
                <td [innerHTML]="row.type | proof"></td>
                <td>{{ row.samples.length }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="no-results" colspan="5" i18n>No results found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-row>
            @for (sample of row.samples; track $index) {
            <tr class="expanded-row">
                <td
                    colspan="4"
                    [innerHTML]="sample.sentence | highlight: row.word"
                ></td>
                <td class="button-container" colspan="1">
                    <a
                        [routerLink]="getSampleURL(sample.name)"
                        class="button is-primary"
                        i18n
                    >
                        Go to sample
                    </a>
                </td>
            </tr>
            }
        </ng-template>
    </p-table>
</div>
}
