<h2 class="title is-2" i18n>Spindle</h2>

<p class="field" i18n>
    Welcome to Spindle. Enter a Dutch sentence in the input field below to start
    parsing.
</p>

<form class="form">
    <div class="field">
        <label for="spindle-input" class="label">Input:</label>
        <input
            id="spindle-input"
            class="input"
            [class.is-danger]="spindleInput.touched && spindleInput.invalid"
            type="text"
            [formControl]="spindleInput"
            (keydown.enter)="$event.preventDefault(); parse()"
            placeholder="Enter a sentence..."
            placeholder-i18n
        />
        <p
            *ngIf="spindleInput.touched && spindleInput.invalid"
            class="help is-danger"
            i18n
        >
            This field is required.
        </p>
    </div>
</form>

<div class="button-container buttons mb-3">
    <button
        class="button"
        (click)="parse()"
        type="button"
        i18n
    >
        Parse
    </button>
</div>

<div *ngIf="term && lexicalPhrases">
    <h4 i18n>Term:</h4>
    <div class="block is-size-4">{{ term }}</div>
    <table class="table">
        <tr *ngFor="let phrase of lexicalPhrases; index as i">
            <td>
                {{ i }}
            </td>
            <td>
                <span *ngFor="let item of phrase.items">{{ item.word }} </span>
            </td>
            <td>
                {{ phrase.type }}
            </td>
        </tr>
    </table>
</div>

<div class="mt-5" *ngIf="parsed">
    <h4 class="title is-4" i18n>Export results</h4>
    <div class="button-container buttons">
        <button
            class="button latex"
            [class.is-loading]="loading === 'tex'"
            (click)="export('tex')"
            type="button"
        >
            <span class="icon">
                <img src="assets/latex-logo.svg" alt="latex-logo" />
            </span>
            <span class="button-text" [class.invisible]="loading === 'tex'" i18n>Export to LaTeX</span>
        </button>
        <button
            class="button pdf"
            [class.is-loading]="loading === 'pdf'"
            (click)="export('pdf')"
            type="button"
        >
            <span class="icon">
                <img src="assets/pdf-logo.svg" alt="pdf-logo" />
            </span>
            <span class="button-text" [class.invisible]="loading === 'pdf'" i18n>Export to PDF</span>
        </button>
        <button
            class="button overleaf"
            (click)="export('overleaf')"
            type="button"
        >
            <span class="icon">
                <img src="assets/overleaf-logo.svg" alt="overleaf-logo" />
            </span>
            <span class="button-text" i18n>Open in Overleaf</span>
        </button>
    </div>

    <div class="output-container" *ngIf="texOutput">
        <button
            class="button is-small clipboard-copy"
            type="button"
            (click)="copyToClipboard()"
        >
            <span class="icon">
                <img src="assets/copy-clipboard.svg" alt="copy to clipboard"
            /></span>
            <span i18n>Copy to clipboard</span>
        </button>
        <pre
            name="tex-output"
            class="is-family-code"
            [innerText]="texOutput"
            disabled
        ></pre>
    </div>
</div>
