.button-container {
    margin-top: 15px;

    .button {
        min-width: 200px;
    }

    span {
        color: white;
        margin-left: 5px;
    }

    .logo {
        max-height: 75%;
    }

    .latex {
        background-color: black;
    }

    .overleaf {
        background-color: #47A141;
    }

    .pdf {
        background-color: #FF0000;
    }
}

.output-container {
    pre {
        max-width: 100%;
        overflow: scroll;
    }
}