<h2 class="title is-2" i18n>Spindle</h2>

<p class="field" i18n>
    Welcome to Spindle. Enter a Dutch sentence in the input field below to start
    parsing.
</p>

<form class="form">
    <div class="field">
        <label for="spindle-input" class="label">Input:</label>
        <input
            id="spindle-input"
            class="input"
            [class.is-danger]="spindleInput.touched && spindleInput.invalid"
            type="text"
            [formControl]="spindleInput"
            (keydown.enter)="$event.preventDefault(); parse()"
            placeholder="Enter a sentence..."
            placeholder-i18n
        />
        <p
            *ngIf="spindleInput.touched && spindleInput.invalid"
            class="help is-danger"
            i18n
        >
            This field is required.
        </p>
    </div>
</form>

<div class="button-container buttons mb-3">
    <pp-export-button
        i18n-buttonText
        buttonText="Parse"
        [isLoading]="loading === 'term-table'"
        (click)="parse()"
    ></pp-export-button>
</div>

<div *ngIf="term && lexicalPhrases">
    <h4 i18n>Term:</h4>
    <div class="block is-size-4">{{ term }}</div>
    <table class="table">
        <tr *ngFor="let phrase of lexicalPhrases; index as i">
            <td>
                {{ i }}
            </td>
            <td>
                <span *ngFor="let item of phrase.items">{{ item.word }} </span>
            </td>
            <td>
                {{ phrase.type }}
            </td>
        </tr>
    </table>
</div>

<div class="mt-5" *ngIf="parsed">
    <h4 class="title is-4" i18n>Export results</h4>
    <div class="button-container buttons">
        <pp-export-button
            buttonText="Export to LaTeX"
            [isLoading]="loading === 'latex'"
            (export)="export($event)"
            mode="latex"
            i18n-buttonText
        />
        <pp-export-button
            buttonText="Export to PDF"
            [isLoading]="loading === 'pdf'"
            (export)="export($event)"
            mode="pdf"
            i18n-buttonText
        />
        <pp-export-button
            buttonText="Open in Overleaf"
            [isLoading]="loading === 'overleaf'"
            (export)="export($event)"
            textBelow="Requires an Overleaf account."
            mode="overleaf"
            i18n-buttonText
            i18n-textBelow
        />
        <pp-export-button
            buttonText="Export proof"
            [isLoading]="loading === 'proof'"
            (export)="export($event)"
            mode="proof"
            i18n-buttonText
        />
    </div>

    <div class="output-container" *ngIf="textOutput">
        <div class="output-button-container">
            <button
                class="button is-small download-file" 
                type="button"
                (click)="downloadAsFile(textOutput.text, textOutput.extension)"
            >
                <span class="icon">
                    <fa-icon [icon]="faDownload"></fa-icon>
                </span>
                <span i18n>Download as file</span>
            </button>
            <button
                class="button is-small clipboard-copy"
                type="button"
                (click)="copyToClipboard(textOutput.text)"
            >
                <span class="icon">
                    <fa-icon [icon]="faCopy"></fa-icon>
                </span>
                <span i18n>Copy text to clipboard</span>
            </button>
        </div>
        <pre
            name="text-output"
            class="is-family-code"
            [innerText]="textOutput.text"
            disabled
        ></pre>
    </div>
</div>
